@import "../helpers/variableMy";

header {
    height:100%;
    box-shadow: 2px 2px 10px grey;
    background-color: $color-primary;

    .logo {
        margin: 10px;
        color: #fff;
        font-weight: 700;
        font-style: oblique;
        text-decoration: none;
        &:hover{
            color:#fff;
        }
    }
    .nav-link{
        color: #fff;
        &:hover{
            color:$color-primary-light;
            text-decoration: underline;
            transform: scale(1.1);
        }
    }
    
}

